body{
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}
.button{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    color: antiquewhite;
}
.btn{
    border: none;
    background-color: rgb(138, 138, 138);
    color: white ;
    font-size: 1.5rem;
    font-weight: 500;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.number {
    background-color: rgb(138, 138, 138);
    color: white ;
}

.sign{
    border: none;
    background-color: rgb(255, 196, 0);
    
}
.history{
    border: none;
    font-size: 1.4rem;
    color: rgba(63, 41, 41, 0.877);
    font-weight: 600;
    background-color: aquamarine;
    width: 15rem;
    height: 3rem;
    border-radius: .4rem;
}
.screen{
    width: 14rem;
    height: 5rem;
    background-color: rgba(240, 248, 255, 0.288);
    border: none;
    border-radius: .4rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: .5rem;
    margin-bottom: 1rem;
}
.result{
    font-size: 1.3rem;
    font-weight: 600;

}
.clear{
    background-color: red;
}

.equal{
    background-color: greenyellow;
}
